.vp-code {
  padding: 6px 6px 6px 30px;  
}

.PilgrimDoc [class*='language-'] code .highlighted.error {
  background-color: var(--vp-code-line-error-color);
}

.PilgrimDoc [class*='language-'] code .highlighted.warning {
  background-color: var(--vp-code-line-warning-color);
}

.PilgrimDoc [class*='language-'].vp-adaptive-theme code .diff {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 12px);
  display: inline-block;
}

.PilgrimDoc [class*='language-'] code .diff::before {
  position: absolute;
  left: 1rem;
}

.PilgrimDoc [class*='language-'].vp-adaptive-theme .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition: filter 0.35s, opacity 0.35s;
}

.PilgrimDoc [class*='language-'].vp-adaptive-theme .has-focused-lines .line:not(.has-focus) {
  opacity: 0.7;
  transition: filter 0.35s, opacity 0.35s;
}

.PilgrimDoc [class*='language-'].vp-adaptive-theme:hover .has-focused-lines .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}

.PilgrimDoc [class*='language-'].vp-adaptive-theme code .diff.remove {
  background-color: var(--vp-code-line-diff-remove-color);
  opacity: 0.7;
}

.PilgrimDoc [class*='language-'].vp-adaptive-theme code .diff.remove::before {
  content: '-';
  color: var(--vp-code-line-diff-remove-symbol-color);
}

.PilgrimDoc [class*='language-'].vp-adaptive-theme code .diff.add {
  background-color: var(--vp-code-line-diff-add-color);
}

.PilgrimDoc [class*='language-'].vp-adaptive-theme code .diff.add::before {
  content: '+';
  color: var(--vp-code-line-diff-add-symbol-color);
}
